body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.plus-jakarta-sans-body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  height: 5rem;
  position: sticky;
  top: 0px;
  background-color: white;
}

.fa-compass {
  background-color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-links a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.f-info-links a:hover {
  text-decoration: underline;
  margin-right: 10px;
}
.f-info-socials i,
.f-info-brand i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.f-info {
  height: 7rem;
  background-color: #ebebeb;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  border-radius: 30px !important;
}

.card-img-top {
  width: 100% !important;
  border-radius: 10px !important  ;
  object-fit: cover !important;
}

.card-body {
  padding: 0px !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 1 ;
}
.card-img-overlay:hover{
    opacity: 0.2 ;
    background-color: white ;
}

.add-btn{
    background-color: #fe424d !important; 
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


.show-img{
  object-fit: cover;
  height: 40vh;

}

.btns{
  display: flex;
}

#map{
  height: 400px;
  width: 80vh;
}